<app-menu></app-menu>
<br>

<table>

<tr>
  <td><app-componente1></app-componente1></td>
  <td><app-componente2></app-componente2></td>
  <td><app-componente3></app-componente3></td>
  <td><app-componente15></app-componente15></td>
</tr>
<tr>
  <td><app-componente4></app-componente4></td>
  <td><app-componente5></app-componente5></td>
  <td><app-componente6></app-componente6></td>
  <td><app-componente16></app-componente16></td>
</tr>
<tr>
  <td><app-componente7></app-componente7></td>
  <td><app-componente8></app-componente8></td>
  <td><app-componente9></app-componente9></td>
  <td><app-componente14></app-componente14></td>
</tr>
<tr>
  <td><app-componente10></app-componente10></td>
  <td><app-componente11></app-componente11></td>
  <td><app-componente12></app-componente12></td>
  <td><app-componente13></app-componente13></td>

</tr>
</table>

<br><br>

<table>
  <tr>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
  </tr>
  <tr>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
    <td><app-componente8></app-componente8></td>
  </tr>
</table>

